build/
*.css*
_sprites/
.godot/
node_modules

# Asset files are mostly gonna be protected
godot/assets/**/*.mp3
godot/assets/**/*.wav
godot/assets/**/*.png
godot/assets/**/*.ttf
godot/assets/**/*.glb
godot/assets/**/*.gltf