name: Test

# on:
#   push:
#     branches: [master]

jobs:
  tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:3.5.1
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - run: sh scripts/ci/test.sh
        timeout-minutes: 5
