name: Test

on:
  workflow_dispatch:
#   push:
#     branches: [master]

jobs:
  tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.1.1
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: true
      - run: sh scripts/test.sh
        timeout-minutes: 1
